*{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;
font-size: 0.9rem;
}
body{
  background-color: rgb(47, 40, 40);
}
.pokeCard{
  display: flex;
  border: 1px solid black;
  justify-content: space-around;
  margin: 5px 7px;
  border-radius: 7px;
  background-color: rgb(140, 140, 140);
  align-items: center;
  
}
.battleStat{
 display: flex;
 justify-content: space-between;
}
.pagination{
  margin:10px 0
}
.statContainer{
  width: 150px;
}
.loading{
  text-align: center;
  font-size: 1.3rem;
  margin-top: 100px;
  color: white;
  font-weight: bold;
}

.cardHolder{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 150px;
  width: 75%;

}
.cardTitle{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.poke-thumbnail{
  height: auto;
  width: 3fr;
}
.stats{
  text-align: center;

  display: flex;
}
.pokeList{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

}
.abilities{
  text-align: center;
  margin-left: 16px;
  margin-right: 9px;
}
.ab_title{
  font-weight: bold;
}

li:nth-child(odd){
  color:rgb(55, 45, 45);
}
.pagination button{
  border-radius: 10px;
  margin: 10px 10px;
  padding: 6px;
}
.navbar{
  position: sticky;
  top: 1px;
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  background-color: black;
  box-shadow: 0 5px 2px 2px rgba(52, 52, 52, 0.23);
  justify-content: space-between;
  padding: 0 50px;
}
.navbar h1{
  margin: 20px;
  font-size: 2em;
  color:white;
}
.navbar ul{
  display: flex;
  gap: 14px;
  
}
.navbar ul li{
  list-style-type:  none;
}
.navLink{
  color:white;
  text-decoration: none;
  font-size: 16px;
  transition: 0.4s ease all;
}
.navLink:hover{
  font-size: 20px;
}
.hero{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color:white;
  text-align: center;
  flex-direction: column;
}
.hero h1{
  margin-top: 50px;
  font-size: 40px;
}
.hero p{
  margin-top: 25px;
  font-size: 1.3em;
}
.hero div{
  width: 70vw;
  align-self: center;
}
.btnDiv{
  margin-top: 20px;
}
.homeBtn{
  margin: 0 8px;
  padding: 5px;
  border-radius: 10px;
  background-color: black;
  color:white;
}