*{
  margin: 0;
  padding: 0;
}
.pokeCard{
  display: flex;
  border: 1px solid black;
}
.battleStat{
 display: flex;
 justify-content: space-between;
}
.statContainer{
  width: 150px;
}

.cardHolder{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 150px;
  width: 75%;

}
.cardTitle{
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}
.poke-thumbnail{
  height: auto;
  width: 3fr;
}
.stats{
  text-align: center;
  width: 200px;
  display: flex;
}
.pokeList{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}