*{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;
font-size: 0.9rem;
}
body{
  background-color: rgb(47, 40, 40);
}
.pokeCard{
  display: flex;
  border: 1px solid black;
  justify-content: space-around;
  margin: 5px 7px;
  border-radius: 7px;
  background-color: rgb(140, 140, 140);
  align-items: center;
  
}
.battleStat{
 display: flex;
 justify-content: space-between;
}
.pagination{
  margin:10px 0
}
.statContainer{
  width: 150px;
}
.loading{
  text-align: center;
  font-size: 1.3rem;
}

.cardHolder{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 150px;
  width: 75%;

}
.cardTitle{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.poke-thumbnail{
  height: auto;
  width: 3fr;
}
.stats{
  text-align: center;

  display: flex;
}
.pokeList{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.abilities{
  text-align: center;
  margin-left: 16px;
  margin-right: 9px;
}
.ab_title{
  font-weight: bold;
}

li:nth-child(odd){
  color:rgb(55, 45, 45);
}